<?php

//MySQL settings
@define ('DB_USER','phpquiz');
@define ('DB_PASSWORD','');
@define ('DB_HOST','localhost');
@define ('DB_NAME','phpquiz');

//LDAP Settings
@define ('LDAP_HOST','XXX.XXX.XXX.XXX');
@define ('LDAP_BASE_DN', 'dc=XXX,dc=XXX,dc=XXX');
@define ('LDAP_PEOPLE_DN', 'ou=people,dc=XXX,dc=XXX,dc=XXX');
@define ('LDAP_GROUP_DN', 'ou=group,dc=XXX,dc=XXX,dc=XXX');
@define ('LDAP_SSL','0');
@define ('LDAP_PORT','389');
@define ('PASSWORD_RESET_URL','');

@define ('UPLOAD_DIR','uploads/');
@define ('DEFAULT_QUESTION_POINTS',1);
@define ('DEFAULT_PASS_SCORE',0);
@define ('TITLE','Training Website');
@define ('EMAIL','');

@define ('DEBUG',false);
?>
