<?php

//MySQL settings
define('MYSQL_USER','phpquiz');
define('MYSQL_PASSWORD','');
define('MYSQL_HOST','localhost');
define('MYSQL_DATABASE','phpquiz');
define('MYSQL_SSL',false);

//LDAP Settings
define('LDAP_HOST','XXX.XXX.XXX.XXX');
define('LDAP_BASE_DN', 'dc=XXX,dc=XXX,dc=XXX');
define('LDAP_PEOPLE_DN', 'ou=people,dc=XXX,dc=XXX,dc=XXX');
define('LDAP_GROUP_DN', 'ou=group,dc=XXX,dc=XXX,dc=XXX');
define('LDAP_SSL',false);
define('LDAP_TLS',false);
define('LDAP_PORT','389');
define('PASSWORD_RESET_URL','');

define('UPLOAD_DIR','uploads/');
define('DEFAULT_QUESTION_POINTS',1);
define('DEFAULT_PASS_SCORE',0);
define('TITLE','Training Website');
define('EMAIL','');

define('DEBUG',false);
?>
